<tr>
  <td><%= coffee.farmer.farm_name %></td>
  <td><%= coffee.bags %></td>
  <td>Spot</td>
  <td><%= coffee.process %></td>
  <td><%= coffee.year %></td>
  <td><%= coffee.score %></td>
  <td><%= coffee.price %></td>
  <td>calc(<%= coffee.price %>*2)</td>
</tr>
