<%= render 'navbar_coffee' %>

<div class="spotlist-container">
  <table class="spotlist">
    <thead>
      <tr>
        <th class="th-basic-first">Farm</th>
        <th class="th-basic">Bags</th>
        <th class="th-basic">Availability</th>
        <th class="th-basic">Process</th>
        <th class="th-basic">Crop-Year</th>
        <th class="th-basic">Cupping</th>
        <th class="th-basic">Price 1+ bags</th>
        <th class="th-basic">Price 5+ bags</th>
        <th class="th-fixed fixed-col">Inquire</th>
      </tr>
    </thead>
    <% @coffees.each do |coffee| %>
      <%= render "coffee_row", coffee: coffee, order_item: @order_item %>
    <% end %>
  </table>
</div>

<%= render 'shared/follow_us_footer' %>



<!--<% @coffees.each do |coffee| %>
  <p><%= coffee.bags %></p>
<% end %>

<a class="button-learn-more" href="/coffees/new">New Coffee</a>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= link_to "My Store", coffees_path %></h1>
    </div>
    <div class="col-xs-6 text-right">
    </div>
  </div>
  <hr>
</div>
-->
