<%= render 'navbar_coffee' %>

<div class="spotlist">
  <table id="customers">
    <tr>
      <th>Farm</th>
      <th>Bags</th>
      <th>Availability</th>
      <th>Process</th>
      <th>Crop-Year</th>
      <th>Cupping</th>
      <th>Price 1+ bags</th>
      <th>Price 5+ bags</th>
      <th>Inquire</th>
    </tr>
    <% @coffees.each do |coffee| %>
      <%= render "coffee_row", coffee: coffee, order_item: @order_item %>
    <% end %>
  </table>
</div>

<%= render 'shared/follow_us_footer' %>

<!--<% @coffees.each do |coffee| %>
  <p><%= coffee.bags %></p>
<% end %>

<a class="button-learn-more" href="/coffees/new">New Coffee</a>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= link_to "My Store", coffees_path %></h1>
    </div>
    <div class="col-xs-6 text-right">
    </div>
  </div>
  <hr>
</div>
-->
