<h3 class="text-center">Products for Sale</h3>

order item price: <%= OrderItem.first.unit_price %> <br>
Order id: <%= Order.first.id %> <br>
current_user id: <%= current_user.id %>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @coffees.each do |coffee| %>
      <%= render "coffee_row", coffee: coffee, order_item: @order_item %>
    <% end %>
  </div>
</div>

<!--<% @coffees.each do |coffee| %>
  <p><%= coffee.bags %></p>
<% end %>

<a class="button-learn-more" href="/coffees/new">New Coffee</a>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= link_to "My Store", coffees_path %></h1>
    </div>
    <div class="col-xs-6 text-right">
    </div>
  </div>
  <hr>
</div>
-->
