<div class="white-box" style="background-color: light-gray;">
  <div class="form-header">
    <h5>Create a new Farmer</h5>
    <p>Please fill out everybox below</p>
  </div>
  <div class="form">
    <div class="form-field">
      <%= simple_form_for @coffee do |c| %>
        <%= c.input :bags, class: "form-control" %>
        <%= c.input :process, class: "form-control" %>
        <%= c.input :certification, class: "form-control" %>
        <%= c.input :year, class: "form-control" %>
        <%= c.input :price, class: "form-control" %>
        <%= c.input :sku, class: "form-control"%>
        <%= c.input :farmer_id, class: "form-control"%>
        <%= c.input :packaging %>
        <%= c.input :batch %>
        <%= c.input :score %>
        <%= c.input :variety %>
        <%= c.input :screensize %>
        <%= c.input :flavor1 %>
        <%= c.input :flavor2 %>
        <%= c.input :flavor3 %>
        <%= c.input :flavor1_image %>
        <%= c.input :flavor2_image %>
        <%= c.input :flavor3_image %>
        <%= c.button :submit %>
      <% end %>
    </div>
  </div>
</div>
