<div class="image_wrapper-our-coffee-show ">
  <div class="image_section">
    <div class="image_section_content row">
      <div class=" col-md-6 container-text-content text-alignment card-flavor-and-info">
        <h5 class="farm-discription-headers">Technical Information</h5><br>
        <ul class="flavor-profile">
          <li class="flavor-profile-item"><p class="text-description">Region: </p><p><%= @farmers.region %></p></li>
          <li class="flavor-profile-item"><p class="text-description">Crop Year: </p><p><%= @farmers.coffees.last.year %></p></li>
          <li class="flavor-profile-item"><p class="text-description">Process Type: </p><p><%= @farmers.coffees.last.process %></p></li>
          <li class="flavor-profile-item"><p class="text-description">Variety: </p><p>Catuai</p></li>
        </ul>
      </div>
      <div class=" col-md-6 container-text-content border-left text-alignment card-flavor-and-info">
        <h5 class="farm-discription-headers">Flavor Profile</h5><br>
        <ul class="flavor-profile">
          <li class="flavor-profile-item">
            <div class="flavor-description">
              <div class="vanilla"></div>
            </div>
              <p class="margin-top-vertical-align"><%= @farmers.coffees.last.flavor1 %></p>
          </li>
          <li class="flavor-profile-item">
            <div class="flavor-description">
              <div class="caramell"></div>
            </div>
              <p class="margin-top-vertical-align"><%= @farmers.coffees.last.flavor2 %></p>
          </li>
          <li class="flavor-profile-item">
            <div class="flavor-description">
              <div class="chocolate"></div>
            </div>
              <p class="margin-top-vertical-align"><%= @farmers.coffees.last.flavor3 %></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
