<% @farmers.coffees.each do |coffee| %>

  <div class="container-text-content">
    <div class="header_coffee header_coffee_padding">
      <div class="text-padding-ocafi ">
        <h5 class="farm-discription-headers"><%= @farmers.first_name %> <%= @farmers.last_name %>'s <%= coffee.variety %></h5>
      </div>
    </div>
  </div>

  <div class="image_section">
    <div class="image_section_content row">
      <div class=" col-md-6 container-text-content text-alignment card-flavor-and-info">
        <div class="flavor-and-info">
          <h5 class="farm-discription-headers heading-coffee-facts">Technische Informationen</h5><br>
          <ul class="flavor-profile">
            <li class="flavor-profile-item"><p class="text-description">Ursprung: </p><p><%= @farmers.origin %></p></li>
            <li class="flavor-profile-item"><p class="text-description">Sorte: </p><p><%= coffee.variety %></p></li>
            <li class="flavor-profile-item"><p class="text-description">Prozess: </p><p><%= coffee.process %></p></li>
            <li class="flavor-profile-item"><p class="text-description">Cup Score: </p><p><%= coffee.score %></p></li>
            <li class="flavor-profile-item"><p class="text-description">Erntejahr: </p><p><%= coffee.year %></p></li>
            <li class="flavor-profile-item"><p class="text-description">Referenz: </p><p><%= coffee.batch %></p></li>
        </div>
        </ul>
      </div>
      <div class=" col-md-6 container-text-content border-left text-alignment card-flavor-and-info">
        <h5 class="farm-discription-headers heading-coffee-facts">Geschmacksprofil</h5><br>
        <ul class="flavor-profile">
          <li class="flavor-profile-item">
            <div class="flavor-description">
              <div class="flavor-unique" style=" background-image: url('<%= coffee.flavor1_image  %>')"></div>
            </div>
              <p class="margin-top-vertical-align"><%= coffee.flavor1 %></p>
          </li>
          <li class="flavor-profile-item">
            <div class="flavor-description">
              <div class="flavor-unique" style=" background-image: url('<%= coffee.flavor2_image  %>')"></div>
            </div>
              <p class="margin-top-vertical-align"><%= coffee.flavor2 %></p>
          </li>
          <li class="flavor-profile-item">
            <div class="flavor-description">
              <div class="flavor-unique" style=" background-image: url('<%= coffee.flavor3_image  %>')"></div>
            </div>
              <p class="margin-top-vertical-align"><%= coffee.flavor3 %></p>
          </li>

        </ul>
      </div>
    </div>
  </div>

<% end %>



