<div class="coffee-show-header-container">
  <h5 class="farm-discription-headers">Die Gallerie</h5>
</div>
<div class="scroll-container flex overflow-auto scroll-smoothly no-scrollbar">

    <div class="flex-none">
      <div class="al1 l1st shadow grow-img-coffee" style=" background-image: url('<%= @farmers.farm_landscape1.url %>')"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url('<%= @farmers.farm_landscape2.url %>')"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url('<%= @farmers.farm_landscape3.url %>')"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url('<%= @farmers.farm_landscape4.url %>')"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url('<%= @farmers.farm_landscape5.url %>')"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url('<%= @farmers.farm_landscape6.url %>')"></div>
    </div>
    <div class="flex-none">
      <div class="al1 r1st rr shadow grow-img-coffee" style=" background-image: url('<%= @farmers.farm_landscape7.url %>')"></div>
    </div>
</div>



