<p>TEST</p>
  ______________________________________________ <br>


<% @farmers.each do |farmer| %>
  <%= farmer.farm_name %> <br>
  <%= farmer.first_name %> <%= farmer.last_name %> <br>
  <%= farmer.origin %>, <%= farmer.region %> <br>
  ______________________________________________ <br>


<% end %>

