<div class="image_wrapper">
  <div class="container-coffee">
    <div class="row">
      <% @farmers.each do |farmer| %>
        <a href="/farmers/<%= farmer.slug %>">
          <div class="col-xs-12 col-md-6 col-lg-4">
            <!-- insert <div class="card"> -->
            <div class="card grow">
              <div class="size-img" style=" background-image: url('<%= farmer.farmer_photo.url %>')">
              </div>
              <div class="text-part">
                <div class="vertical-align-wrap-coffee">
                  <div class="vertical-align-coffee vertical-align--middle-coffee">
                    <div class="items-center">
                      <h4><%= farmer.farm_name %> <br></h4>
                      <h4><%= farmer.first_name %> <%= farmer.last_name %> <br></h4>
                      <% if farmer.coffees.count > 1 %>
                        <h5>Referenzen der Kaffees: <br> <%= farmer.coffees.first.batch %>, <%= farmer.coffees.second.batch %></h5>
                      <% elsif farmer.coffees.count == 1 %>
                        <h5>Referenz Kaffee: <%= farmer.coffees.first.batch %></h5>
                      <% else %>
                      <% end %>
                      <!--<h3><%= link_to farmer.farm_name, farmer %></h3>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>


