<div class="container-text-content">
  <div class="text_below_carousel_basics placement_mogiana_region">
    <div class="text-padding-ocafi">
      <h3>Die Mogiana Region</h3>
      <p>Als eines der ältesten Kaffeeanbaugebiete Brasiliens ist die Region Mogina für ihre roten Vulkanerden und ihre einzigartigen Mikroklimata bekannt. Die reichlichen Sonnenstunden Tagsüber und die milden Temperaturen bei Nacht machen diese Region zum idealen Anbaugebiet für Spezialitätenkaffees. Aufgeteilt in Alta- und Media- Mogiana, bietet diese Region das zuhause für Kaffees mit so vielfältigen Geschmacks Profile, dass alles unsere Kaffees aus der Mogiana Region stammen. <br> <br>
        Finden Sie hier ein paar Eindrücke aus der Region
      </p>
    </div>
  </div>
</div>

<div class="scroll-container flex overflow-auto scroll-smoothly scrollbar">

    <div class="flex-none">
      <div class="al1 l1st shadow grow-img-coffee" style=" background-image: url(<%= image_path('mogiana1.jpg') %>)"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url(<%= image_path('mogiana2.jpg') %>)"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url(<%= image_path('mogiana3.jpg') %>)"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url(<%= image_path('mogiana4.jpg') %>)"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url(<%= image_path('mogiana5.jpg') %>)"></div>
    </div>
    <div class="flex-none">
      <div class="al1 rr shadow grow-img-coffee" style=" background-image: url(<%= image_path('mogiana6.jpg') %>)"></div>
    </div>
    <div class="flex-none">
      <div class="al1 r1st rr shadow grow-img-coffee" style=" background-image: url(<%= image_path('mogiana7.jpg') %>)"></div>
    </div>

</div>

