<div class="white-box" style="background-color: light-gray;">
  <div class="form-header">
    <p>Please fill out everybox below</p>
  </div>
  <div class="form">
    <div class="form-field">
      <%= simple_form_for @farmer do |f| %>
        <%= f.input :farm_name, class: "form-control" %>
        <%= f.input :first_name, class: "form-control" %>
        <%= f.input :last_name, class: "form-control" %>
        <%= f.input :origin, class: "form-control" %>
        <%= f.input :region, class: "form-control" %>
        <%= f.input :short_description, as: :text, :input_html => { :cols => 5, :rows => 10 }, class: "form-control"%>
        <%= f.input :long_description, :as => :text, class: "form-control"%>
        <%= f.input :farmer_photo %>
        <%= f.input :farm_landscape1 %>
        <%= f.input :farm_landscape2 %>
        <%= f.input :farm_landscape3 %>
        <%= f.input :farm_landscape4 %>
        <%= f.input :farm_landscape5 %>
        <%= f.input :farm_landscape6 %>
        <%= f.input :farm_landscape7 %>
        <%= f.input :farm_landscape8 %>
        <%= f.input :farm_landscape9 %>
        <%= f.input :farm_landscape10 %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>



