<tr>
  <td class="order_items_td_basic"><%= order_item.coffee.batch %></td>
  <td class="order_items_td_basic"><%= order_item.coffee.farmer.farm_name %></td>
  <td class="order_items_td_basic"><%= order_item.coffee.variety %></td>
  <td class="order_items_td_basic"><%= order_item.coffee.sample_packaging%> gr</td>
  <td class="order_items_td_basic">1</td>
  <td class="order_items_td_basic">Free of charge</td>
  <td class="order_items_td_basic order_items_td_last"><%= link_to "Delete", order_item, method: :delete, onClick:"window.location.href=window.location.href" %></td>
</tr>
