<div class="form_for_current_order_container">
<p><%= current_order.id %></p>
<p><%= current_order.subtotal %></p>
<p>_____________</p>

<%= form_for :current_order do |o| %>
  Company name: <%= o.text_field :company_name, style: "color: black;" %><br />
  <%= o.submit %>
<% end %>




</div>
