<div class="form_for_current_order_container">
  <span class="your-details-heading">Your details</span>
  <%= form_for @order, url: cart_path do |f| %>
    <div class="order-form">
      <%= f.text_field :company_name, placeholder: "Company Name", class: 'order-from-input order-input-width' %>
      <%= f.text_field :customer_first_name, placeholder: "First Name", class: 'order-from-input order-input-width' %>
      <%= f.text_field :customer_last_name, placeholder: "Last Name", class: 'order-from-input order-input-width' %>
      <%= f.text_field :customer_email, placeholder: "Email address", class: 'order-from-input order-input-width' %>
      <%= f.text_field :phone_number, placeholder: "Phone number", class: 'order-from-input order-input-width' %>
      <%= f.text_field :customer_billing_address, placeholder: "Address", class: 'order-from-input order-input-width' %>
      <%= f.text_field :customer_billing_postcode, placeholder: "Postcode", class: 'order-from-input order-input-width' %>
      <%= f.text_field :customer_billing_city, placeholder: "City", class: 'order-from-input order-input-width' %>
      <%= f.text_field :customer_billing_country, placeholder: "Country", class: 'order-from-input order-input-width' %>
      <%= f.text_field :vat_number, placeholder: "Vat Number", class: 'order-from-input order-input-width' %>
      <%= f.text_field :special_request, placeholder: "Special request", class: 'order-from-input order-input-width' %>
      <%= f.submit "Place Order", class: 'btn btn-primary' %>

    </div>
    <% end %>

</div>
