<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    Es befinden sich momentan keine Gegenstände in Ihrem Einkaufswagen.  Bitte <%= link_to "zur Spotlist", coffees_path %> und fügen Sie Kaffeesäcke oder Proben zu Ihrem Einkaufswagen hinzu.
  </p>
<% else %>
  <% if @order_items.any? { |u| u[:quantity] > 0 } %>
    <%= render 'cart_order_items' %>
  <% end %>

  <% if @order_items.any? { |h| h[:sample] == true } %>
    <%= render 'cart_sample_items' %>
  <% end %>

  <%= render "form_for_current_order" %>

<% end %>






