<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", coffees_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
  <% end %>
  <ul>
    <% @order_items.each do |order_item| %>
      <li data-order_item-id="<%= order_item.id %>">
      <p><%= order_item.coffee.variety %></p>
      <%= link_to "Delete", order_item, method: :delete, remote: true %>

      <!-- add code for update here -->
      </li>
    <% end %>
  </ul>

<% end %>




