<p>
  Order Information <br>

  Customer Information: <br>
  Company name: <%= "#{@company_name}" %> <br>
  Customer first name: <%= "#{@customer_first_name}" %> <br>
  Customer last name: <%= "#{@customer_last_name}" %> <br>
  Customer email: <%= "#{@customer_email}" %> <br>
  Customer Phone: <%= "#{@phone_number}" %> <br>
  VAT number: <%= "#{@vat_number}" %> <br>

  Shipping Information: <br>
  Address: <%= "#{@customer_shipping_address}" %> <br>
  Postcode: <%= "#{@customer_shipping_postcode}" %> <br>
  City: <%= "#{@customer_shipping_city}" %> <br>
  Country: <%= "#{@customer_shipping_country}" %> <br>

  Further information: <br>
  Special requests: <%= "#{@special_request}" %> <br>

  Coffees ordered: <br>
  1. Coffee <br>
  Coffee id: <%= "#{Order.last.order_items[1].coffee_id}" %> <br>
  Quantity: <%= "#{Order.last.order_items[2].quantity}" %> <br>
  Price: <%= "#{Order.last.order_items[3].unit_price}" %> <br>
  Sample: <%= "#{Order.last.order_items[4].sample}" %> <br>

</p>





