 <%= form_for order_item, method: :update, remote: true do |f| %>
    <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
      <%= f.submit "Update Quantity", class: "btn btn-primary" %>
      <p><%= order_item.total_price %></p>
<% end %>


  <div class="row">
    <div class="col-xs-8">
      <h4><%= order_item.coffee.variety %></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for order_item do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :coffee_id, value: order_item.coffee.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to "Remove", order_item_path(order_item), method: :delete, href:"javascript:window.location.href=window.location.href" %>
              <!-- { method: :delete, remote: true, class: "btn btn-danger" }
              -->
            </div>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
      <% end %>
    </div>

  </div>


<ul>
  <% @order_items.each do |order_item| %>
    <li data-order_item-id="<%= order_item.id %>">
      <p><%= order_item.coffee.variety %></p>
      <p><%= order_item.quantity %></p>
      <p><%= number_to_currency order_item.unit_price %></p>
      <%= link_to "Delete", order_item, method: :delete, onClick:"window.location.href=window.location.href" %>

      <!-- add code for update here -->
      </li>

  <% end %>
</ul>
